version: 2
jobs:
  test:
    docker:
    - image: zegl/goriak-test:latest
    working_directory: /go/app
    steps:
    - checkout
    - run: go test -v -race -coverprofile=coverage.txt -covermode=atomic
    - run: bash <(curl -s https://codecov.io/bash)

workflows:
  version: 2
  build-and-release:
    jobs:
    - test
